.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }

  &.purpleDark {
    background-color: $purple-500;
    color: white;
  }
  &.purpleLight {
    border: 1px solid $purple-200;
    background-color: $purple-100;
    color: $purple-500;
  }

  &.size32 {
    width: 32px;
    height: 32px;

    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 0.02em;
    font-weight: 700;
  }
  &.size44 {
    width: 44px;
    height: 44px;

    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
    font-weight: 700;
  }
}
